#Use the pseudo-class selector that targets default, unvisited links. Set their color value to orange.

a:focus {
  color: orange;
}

#Next, create a pseudo-class selector that targets all visited links. Add a color property and set the value to steelblue.

a:visited {
  color: steelblue;
}

#Finally, add a new pseudo-class selector that targets all links on hover. Add a color property and set the value to tomato.

a:hover {
  color: tomato;
}
